@charset "UTF-8";
body {
  font-family: "Noto Sans", "Noto Sans KR", sans-serif;
  color: #000;
  background-color: #fff;
  transition: 0.25s ease;
}

#txtSlide {
  position: relative;
  width: 100%;
  background-color: #e5e5e5;
}

#txtSlide .mask {
  width: 400px;
  margin: 0 auto;
  overflow: hidden;
}

#txtSlide .mask .txtWrap {
  position: relative;
  display: flex;
}

#txtSlide .mask .txtWrap li {
  position: relative;
  width: 400px;
  height: 70px;
  text-align: center;
  flex-shrink: 0;
}

#txtSlide .mask .txtWrap li a {
  display: block;
  padding: 16px 0;
}

#txtSlide .mask .txtWrap li a:focus {
  border: 1px solid #f00;
}

#txtSlide .mask .txtWrap li a span {
  line-height: 1.4;
  font-size: 1.4rem;
  font-weight: 300;
}

#txtSlide .mask .txtWrap li a span strong {
  font-weight: 700;
}

#txtSlide .mask .txtWrap li a img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: -1;
}

#header {
  position: fixed;
  top: 70;
  width: 100%;
  height: 60px;
  background-color: #fff;
  transition: 0.25s ease;
  z-index: 5;
}

#header .inner {
  position: relative;
  display: flex;
  width: 1400px;
  margin: 0 auto;
}

#header .inner #logo {
  margin-right: 20px;
}

#header .inner #logo a {
  display: block;
  padding: 23px 0;
}

#header .inner #logo a svg {
  width: 120px;
  vertical-align: middle;
}

#header .inner .gnbBtn {
  position: absolute;
  left: 0;
  display: none;
  width: 20px;
  height: 30px;
  margin: 15px 0;
  cursor: pointer;
}

#header .inner .gnbBtn:focus {
  outline: 1px solid #f00;
}

#header .inner .gnbBtn span {
  position: absolute;
  display: block;
  width: 20px;
  height: 2px;
  background-color: #000;
}

#header .inner .gnbBtn span:nth-child(1) {
  top: 6px;
}

#header .inner .gnbBtn span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
}

#header .inner .gnbBtn span:nth-child(3) {
  bottom: 6px;
  width: 8px;
}

#header .inner #gnb {
  transition: 0.25s ease;
  background-color: #fff;
}

#header .inner #gnb .gnbList > li {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

#header .inner #gnb .gnbList > li .depth01 {
  display: block;
  height: 60px;
  line-height: 60px;
  font-size: 1.6rem;
}

#header .inner #gnb .gnbList > li .depth01:focus {
  outline: 1px solid #f00;
}

#header .inner #gnb .gnbList > li .depth02 {
  position: fixed;
  left: 0;
  transition: 0.5s ease-in-out;
  z-index: -99999;
}

#header .inner #gnb .gnbList > li .depth02.on {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}

#header .inner #gnb .gnbList > li .depth02.on .depth02Inner {
  left: 0;
  opacity: 1;
}

#header .inner #gnb .gnbList > li .depth02 .depth02Inner {
  position: fixed;
  left: -100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 800px;
  height: 100%;
  padding-left: 5%;
  background-color: #fff;
  transition: 0.25s ease;
  opacity: 0;
}

#header .inner #gnb .gnbList > li .depth02 .depth02Inner .depth02List {
  height: 50%;
  padding-top: 30px;
}

#header .inner #gnb .gnbList > li .depth02 .depth02Inner .depth02List li {
  line-height: 1;
  margin: 20px 0;
}

#header .inner #gnb .gnbList > li .depth02 .depth02Inner .depth02List li a {
  display: inline-block;
  font-size: 2.8rem;
}

#header .inner #gnb .gnbList > li .depth02 .depth02Inner .depth02List li a:focus {
  outline: 1px solid #f00;
}

#header .inner #gnb .gnbList > li .depth02 .depth02Inner .product {
  position: relative;
  display: flex;
  height: 50%;
  padding-top: 50px;
}

#header .inner #gnb .gnbList > li .depth02 .depth02Inner .product:before {
  content: '추천상품';
  position: absolute;
  top: 0;
  font-size: 1.2rem;
}

#header .inner #gnb .gnbList > li .depth02 .depth02Inner .product li {
  width: 25%;
}

#header .inner #gnb .gnbList > li .depth02 .depth02Inner .product li:hover a p {
  border-bottom: 1px solid #000;
}

#header .inner #gnb .gnbList > li .depth02 .depth02Inner .product li a {
  display: block;
  margin: 0 15px;
}

#header .inner #gnb .gnbList > li .depth02 .depth02Inner .product li a:focus {
  outline: 1px solid #f00;
}

#header .inner #gnb .gnbList > li .depth02 .depth02Inner .product li a img {
  width: 100%;
  vertical-align: top;
}

#header .inner #gnb .gnbList > li .depth02 .depth02Inner .product li a p {
  display: inline-block;
  line-height: 1;
  margin-top: 10px;
  font-size: 1.4rem;
  word-break: keep-all;
}

#header .inner #gnb .gnbList > li .depth02 .depth02Inner .btnClose {
  position: absolute;
  top: 20px;
  right: 40px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

#header .inner #gnb .gnbList > li .depth02 .depth02Inner .btnClose:focus {
  outline: 1px solid #f00;
}

#header .inner #gnb .gnbList > li .depth02 .depth02Inner .btnClose span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 40px;
  height: 2px;
  background-color: #000;
}

#header .inner #gnb .gnbList > li .depth02 .depth02Inner .btnClose span:first-child {
  transform: rotate(45deg);
}

#header .inner #gnb .gnbList > li .depth02 .depth02Inner .btnClose span:last-child {
  transform: rotate(-45deg);
}

#header .inner #gnb .gnbFooter {
  display: none;
}

#header .inner #gnb .gnbFooter .resizeList > li {
  line-height: 1;
  padding: 0 10px;
  border-bottom: 1px solid #d9d9d9;
}

#header .inner #gnb .gnbFooter .resizeList > li:first-child {
  border-top: 1px solid #d9d9d9;
}

#header .inner #gnb .gnbFooter .resizeList > li a {
  position: relative;
  display: block;
  padding: 15px 0;
  font-size: 1.6rem;
}

#header .inner #gnb .gnbFooter .resizeList > li a:after {
  content: ">";
  position: absolute;
  top: 5px;
  right: 0;
  font-size: 2.6rem;
  font-weight: 700;
}

#header .inner #gnb .gnbFooter .address {
  margin-top: 40px;
  text-align: center;
}

#header .inner #gnb .gnbFooter .address dl dt {
  line-height: 1;
  font-size: 1.8rem;
  font-weight: 700;
}

#header .inner #gnb .gnbFooter .address dl dd {
  line-height: 1.5;
  font-size: 1.4rem;
}

#header .inner #gnb .gnbFooter .address dl dd ul {
  display: flex;
  justify-content: center;
}

#header .inner #gnb .gnbFooter .address dl dd ul li {
  margin: 0 8px;
}

#header .inner #gnb .gnbFooter .address dl dd ul li:first-child {
  position: relative;
}

#header .inner #gnb .gnbFooter .address dl dd ul li:first-child:after {
  content: '';
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translateY(-50%);
  display: block;
  width: 1px;
  height: 10px;
  background-color: #000;
}

#header .inner #gnb > .btnClose {
  position: absolute;
  display: none;
  top: 20px;
  right: 40px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

#header .inner #gnb > .btnClose:focus {
  outline: 1px solid #f00;
}

#header .inner #gnb > .btnClose span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 40px;
  height: 2px;
  background-color: #000;
}

#header .inner #gnb > .btnClose span:first-child {
  transform: rotate(45deg);
}

#header .inner #gnb > .btnClose span:last-child {
  transform: rotate(-45deg);
}

#header .inner #util {
  position: absolute;
  right: 0;
}

#header .inner #util .utilList {
  display: flex;
}

#header .inner #util .utilList > li {
  position: relative;
  margin: 0 8px;
}

#header .inner #util .utilList > li:hover:after {
  display: block;
}

#header .inner #util .utilList > li:after {
  content: '';
  position: absolute;
  bottom: 15px;
  display: none;
  width: 100%;
  height: 1px;
  background-color: #000;
}

#header .inner #util .utilList > li:last-child {
  margin: 0;
  color: #fff;
  background-color: #000;
}

#header .inner #util .utilList > li:last-child:after {
  display: none;
}

#header .inner #util .utilList > li:last-child > a {
  padding: 0 10px 0 180px;
  transition: 0.25s ease;
}

#header .inner #util .utilList > li > a {
  display: block;
  height: 60px;
  line-height: 60px;
}

#header .inner #util .utilList > li > a:focus {
  outline: 1px solid #f00;
}

#header .inner #util .utilList > li > a i {
  font-size: 2.4rem;
  vertical-align: middle;
}

#header .inner #util .utilList > li > a span {
  position: absolute;
  left: 10px;
  font-size: 1.6rem;
}

#header .inner #util .utilList > li .searchBox {
  position: fixed;
  left: 100%;
  width: 100%;
  height: 100%;
  border-top: 1px solid #dddcdc;
  transition: 0.25s ease-in;
}

#header .inner #util .utilList > li .searchBox.on {
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

#header .inner #util .utilList > li .searchBox.on .searchCon .searchInner .btnClose {
  display: block;
}

#header .inner #util .utilList > li .searchBox .searchCon {
  position: relative;
  width: 100%;
  height: 700px;
  background-color: #fff;
  transition: 0.25s ease-in;
}

#header .inner #util .utilList > li .searchBox .searchCon .searchInner {
  position: relative;
  display: flex;
  width: 1400px;
  margin: 0 auto;
}

#header .inner #util .utilList > li .searchBox .searchCon .searchInner .leftCon {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}

#header .inner #util .utilList > li .searchBox .searchCon .searchInner .leftCon li {
  position: relative;
  width: 50%;
  height: 350px;
}

#header .inner #util .utilList > li .searchBox .searchCon .searchInner .leftCon li:nth-child(3n+1) {
  position: relative;
  transition: 0.25s ease;
}

#header .inner #util .utilList > li .searchBox .searchCon .searchInner .leftCon li:nth-child(3n+1):before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  opacity: 0;
  transition: 0.25s ease;
}

#header .inner #util .utilList > li .searchBox .searchCon .searchInner .leftCon li:nth-child(3n+1):hover:before {
  opacity: 1;
}

#header .inner #util .utilList > li .searchBox .searchCon .searchInner .leftCon li:nth-child(3n+1):hover a p {
  opacity: 1;
}

#header .inner #util .utilList > li .searchBox .searchCon .searchInner .leftCon li:nth-child(3n+1) a {
  display: block;
  height: 350px;
}

#header .inner #util .utilList > li .searchBox .searchCon .searchInner .leftCon li:nth-child(3n+1) a .mainBox {
  position: absolute;
  left: 0;
  height: 350px;
}

#header .inner #util .utilList > li .searchBox .searchCon .searchInner .leftCon li:nth-child(3n+1) a .mainBox img {
  width: 100% !important;
  height: 350px;
  vertical-align: top;
}

#header .inner #util .utilList > li .searchBox .searchCon .searchInner .leftCon li:nth-child(3n+1) a .mainBox video {
  object-fit: cover;
  width: 350px;
  height: 350px;
}

#header .inner #util .utilList > li .searchBox .searchCon .searchInner .leftCon li:nth-child(3n+1) a h3 {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 1.4rem;
}

#header .inner #util .utilList > li .searchBox .searchCon .searchInner .leftCon li:nth-child(3n+1) a p {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 3rem;
  font-weight: 700px;
  opacity: 0;
  z-index: 2;
  transition: 0.25s ease;
}

#header .inner #util .utilList > li .searchBox .searchCon .searchInner .leftCon li:nth-child(2) a .mainBox h3 {
  top: 20px;
  left: 20px;
  color: #fff;
}

#header .inner #util .utilList > li .searchBox .searchCon .searchInner .leftCon li:nth-child(3) a .mainBox h3 {
  top: 20px;
  left: 20px;
  color: #000;
}

#header .inner #util .utilList > li .searchBox .searchCon .searchInner .leftCon li .infoBox {
  height: 175px;
  line-height: 1.8;
  padding: 46.5px 0 46.5px 30px;
  color: #000;
}

#header .inner #util .utilList > li .searchBox .searchCon .searchInner .leftCon li .infoBox dt {
  font-size: 3rem;
  font-weight: 700;
}

#header .inner #util .utilList > li .searchBox .searchCon .searchInner .leftCon li .infoBox dd:hover span {
  border-bottom: 1px solid #000;
}

#header .inner #util .utilList > li .searchBox .searchCon .searchInner .leftCon li .infoBox dd a {
  display: block;
  font-size: 1.6rem;
}

#header .inner #util .utilList > li .searchBox .searchCon .searchInner .leftCon li a {
  display: block;
}

#header .inner #util .utilList > li .searchBox .searchCon .searchInner .leftCon li a:focus {
  border: none;
  outline-color: #f00;
}

#header .inner #util .utilList > li .searchBox .searchCon .searchInner .leftCon li a:hover .mainBox:before {
  opacity: 1;
}

#header .inner #util .utilList > li .searchBox .searchCon .searchInner .leftCon li a:hover .mainBox p {
  opacity: 1;
}

#header .inner #util .utilList > li .searchBox .searchCon .searchInner .leftCon li a .mainBox {
  position: relative;
}

#header .inner #util .utilList > li .searchBox .searchCon .searchInner .leftCon li a .mainBox:before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: 0.25s ease;
}

#header .inner #util .utilList > li .searchBox .searchCon .searchInner .leftCon li a .mainBox img {
  width: 100%;
  height: 175px;
  vertical-align: top;
}

#header .inner #util .utilList > li .searchBox .searchCon .searchInner .leftCon li a .mainBox h3 {
  position: absolute;
  font-size: 1.4rem;
}

#header .inner #util .utilList > li .searchBox .searchCon .searchInner .leftCon li a .mainBox p {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 3rem;
  transition: 0.25s ease;
  opacity: 0;
  z-index: 2;
}

#header .inner #util .utilList > li .searchBox .searchCon .searchInner .rightCon {
  width: 50%;
  color: #000;
}

#header .inner #util .utilList > li .searchBox .searchCon .searchInner .rightCon > li {
  height: 350px;
}

#header .inner #util .utilList > li .searchBox .searchCon .searchInner .rightCon > li:first-child {
  padding-top: 120px;
  border-bottom: 1px solid #000;
}

#header .inner #util .utilList > li .searchBox .searchCon .searchInner .rightCon > li:first-child h3 {
  padding-left: 40px;
}

#header .inner #util .utilList > li .searchBox .searchCon .searchInner .rightCon > li:last-child {
  padding: 50px 0 0 120px;
}

#header .inner #util .utilList > li .searchBox .searchCon .searchInner .rightCon > li h3 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 40px;
}

#header .inner #util .utilList > li .searchBox .searchCon .searchInner .rightCon > li label {
  position: relative;
  left: 70px;
}

#header .inner #util .utilList > li .searchBox .searchCon .searchInner .rightCon > li label input {
  width: 70%;
  height: 30px;
  margin: 0 auto;
  padding: 0 10px;
  font-size: 2rem;
  border-top: none;
  border-right: none;
  border-left: none;
}

#header .inner #util .utilList > li .searchBox .searchCon .searchInner .rightCon > li label input:focus {
  outline-color: #f00;
}

#header .inner #util .utilList > li .searchBox .searchCon .searchInner .rightCon > li label input::placeholder {
  font-size: 1.6rem;
}

#header .inner #util .utilList > li .searchBox .searchCon .searchInner .rightCon > li label a {
  position: absolute;
  right: 10px;
}

#header .inner #util .utilList > li .searchBox .searchCon .searchInner .rightCon > li label a i {
  font-size: 2rem;
}

#header .inner #util .utilList > li .searchBox .searchCon .searchInner .rightCon > li .searchList {
  padding-left: 40px;
}

#header .inner #util .utilList > li .searchBox .searchCon .searchInner .rightCon > li .searchList li {
  margin: 20px 0;
}

#header .inner #util .utilList > li .searchBox .searchCon .searchInner .rightCon > li .searchList li:hover a {
  border-bottom: 1px solid #000;
}

#header .inner #util .utilList > li .searchBox .searchCon .searchInner .rightCon > li .searchList li a {
  display: inline-block;
}

#header .inner #util .utilList > li .searchBox .searchCon .searchInner .rightCon > li .searchList li a:focus {
  border-color: #f00;
  outline-color: #f00;
}

#header .inner #util .utilList > li .searchBox .searchCon .searchInner .rightCon > li .searchList li a span {
  font-size: 2.6rem;
}

#header .inner #util .utilList > li .searchBox .searchCon .searchInner .btnClose {
  position: absolute;
  display: none;
  top: 20px;
  right: 40px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

#header .inner #util .utilList > li .searchBox .searchCon .searchInner .btnClose:focus {
  outline: 1px solid #f00;
}

#header .inner #util .utilList > li .searchBox .searchCon .searchInner .btnClose span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 40px;
  height: 2px;
  background-color: #000;
}

#header .inner #util .utilList > li .searchBox .searchCon .searchInner .btnClose span:first-child {
  transform: rotate(45deg);
}

#header .inner #util .utilList > li .searchBox .searchCon .searchInner .btnClose span:last-child {
  transform: rotate(-45deg);
}

#sideBar {
  position: fixed;
  right: -220px;
  bottom: 50px;
  width: 300px;
  border-radius: 100px 0 0 100px;
  color: #fff;
  background-color: #000;
  z-index: 2;
  transition: 0.25s ease;
}

#sideBar:hover {
  right: 0;
}

#sideBar a {
  display: block;
  padding: 20px;
}

#sideBar a:focus {
  outline: 1px solid #f00;
}

#sideBar a .sideLogo {
  position: relative;
}

#sideBar a .sideLogo:after {
  content: '아우터 컬렉션 보러가기';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.6rem;
  margin-left: 10px;
}

#sideBar a .sideLogo svg {
  width: 50px;
  fill: #fff;
}

#login {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
}

#login .loginWrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  width: 450px;
  height: 600px;
  background-color: #fff;
}

#login .loginWrap h3 {
  margin: 50px 0 30px;
  font-size: 3rem;
  text-align: center;
}

#login .loginWrap .loginBox {
  width: 380px;
  margin: 0 auto;
}

#login .loginWrap .loginBox > label {
  display: block;
  margin: 10px 0;
}

#login .loginWrap .loginBox > label input {
  width: 380px;
  height: 50px;
  padding: 0 10px;
}

#login .loginWrap .loginBox > label input:focus {
  outline: 1px solid #f00;
}

#login .loginWrap .loginBox .subBox {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 15px;
}

#login .loginWrap .loginBox .subBox label input:focus {
  outline: 1px solid #f00;
}

#login .loginWrap .loginBox .subBox label span {
  font-size: 1.4rem;
  font-weight: 300;
}

#login .loginWrap .loginBox .subBox a:hover span {
  font-weight: 300;
}

#login .loginWrap .loginBox .subBox a:hover span:after {
  display: none;
}

#login .loginWrap .loginBox .subBox a:focus {
  outline: 1px solid #f00;
}

#login .loginWrap .loginBox .subBox a span {
  position: relative;
  display: block;
  font-size: 1.4rem;
  font-weight: 500;
}

#login .loginWrap .loginBox .subBox a span:after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #000;
}

#login .loginWrap .loginBox .loginBtn {
  display: block;
  margin-top: 40px;
  padding: 20px 0;
  text-align: center;
  color: #fff;
  background-color: #000;
  border: 1px solid #000;
  transition: 0.25s ease;
}

#login .loginWrap .loginBox .loginBtn:hover {
  color: #000;
  background-color: #fff;
  outline-color: #000;
}

#login .loginWrap .loginBox .loginBtn:focus {
  outline: 1px solid #f00;
}

#login .loginWrap .loginBox .loginBtn span {
  font-size: 1.6rem;
  font-weight: 700;
}

#login .loginWrap .loginBox .kakakoLoginBtn {
  display: block;
  margin-top: 10px;
  padding: 20px 0;
  text-align: center;
  color: #000;
  background-color: #f5ca0f;
  border-color: #f5ca0f;
}

#login .loginWrap .loginBox .kakakoLoginBtn:hover {
  opacity: 0.7;
}

#login .loginWrap .loginBox .kakakoLoginBtn:focus {
  outline: 1px solid #f00;
}

#login .loginWrap .loginBox .kakakoLoginBtn i {
  font-size: 1.8rem;
}

#login .loginWrap .loginBox .kakakoLoginBtn span {
  font-size: 1.6rem;
  font-weight: 700;
}

#login .loginWrap .infoBox {
  display: flex;
  align-items: flex-start;
  width: 380px;
  height: 70px;
  margin: 15px auto 0 auto;
  padding: 0 10px;
  font-size: 1.6rem;
  background-color: #f4f4f4;
}

#login .loginWrap .infoBox dt {
  padding: 10px 0;
  font-size: 5rem;
  margin-right: 10px;
}

#login .loginWrap .infoBox dd {
  line-height: 1.2;
  padding: 16px 0;
  word-break: keep-all;
}

#login .loginWrap .btnClose {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

#login .loginWrap .btnClose:focus {
  outline: 1px solid #f00;
}

#login .loginWrap .btnClose span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 40px;
  height: 2px;
  background-color: #000;
}

#login .loginWrap .btnClose span:first-child {
  transform: rotate(45deg);
}

#login .loginWrap .btnClose span:last-child {
  transform: rotate(-45deg);
}

#section01 {
  padding-top: 60px;
  z-index: 9;
}

#section01 .inner {
  width: 1400px;
  margin: 0 auto;
}

#section01 .inner .winterChuck {
  display: flex;
}

#section01 .inner .winterChuck .main {
  position: relative;
  width: 50%;
}

#section01 .inner .winterChuck .main .imgBox img {
  width: 100%;
  height: 900px;
  vertical-align: top;
}

#section01 .inner .winterChuck .main .infoBox {
  position: absolute;
  top: 30px;
  left: 20px;
  z-index: 2;
}

#section01 .inner .winterChuck .main .infoBox dt {
  line-height: 1.2;
  margin-bottom: 15px;
  font-size: 5rem;
  font-weight: 700;
}

#section01 .inner .winterChuck .main .infoBox dd {
  line-height: 1.2;
  font-size: 1.6rem;
}

#section01 .inner .winterChuck .main .infoBox dd.btnMore {
  margin-top: 10px;
}

#section01 .inner .winterChuck .main .infoBox dd.btnMore a {
  display: inline-block;
  padding: 15px 40px;
  font-size: 1.6rem;
  border: 1px solid #000;
  background-color: #fff;
  transition: 0.25s ease;
}

#section01 .inner .winterChuck .main .infoBox dd.btnMore a:hover {
  color: #fff;
  border-color: #fff;
  background-color: #000;
}

#section01 .inner .winterChuck .main .resizeBtnMore {
  display: none;
  margin: 20px 30px;
  padding: 15px 0;
  text-align: center;
  color: #fff;
  background-color: #000;
  transition: 0.25s ease;
}

#section01 .inner .winterChuck .main .resizeBtnMore:hover {
  opacity: 0.7;
}

#section01 .inner .winterChuck .main .resizeBtnMore:focus {
  border: 1px solid #f00;
}

#section01 .inner .winterChuck .main .resizeBtnMore span {
  font-size: 1.6rem;
}

#section01 .inner .winterChuck .items {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}

#section01 .inner .winterChuck .items li {
  position: relative;
  width: 50%;
  height: 450px;
}

#section01 .inner .winterChuck .items li:hover .imgBox img:last-child {
  opacity: 1;
}

#section01 .inner .winterChuck .items li a {
  display: block;
}

#section01 .inner .winterChuck .items li a:focus {
  border: 1px solid #f00;
  z-index: 9;
}

#section01 .inner .winterChuck .items li a .imgBox {
  position: relative;
}

#section01 .inner .winterChuck .items li a .imgBox img {
  position: absolute;
  width: 100%;
  height: 450px;
  transition: 0.25s  ease;
  vertical-align: top;
}

#section01 .inner .winterChuck .items li a .imgBox img:last-child {
  opacity: 0;
}

#section01 .inner .winterChuck .items li a .infoBox {
  position: absolute;
  bottom: 30px;
  left: 30px;
  line-height: 1.5;
  font-size: 1.4rem;
  font-weight: 300;
  z-index: 1;
}

#section01 .inner .winterChuck .items li a .infoBox dt:hover {
  position: relative;
}

#section01 .inner .winterChuck .items li a .infoBox dt:hover:after {
  content: '';
  position: absolute;
  bottom: 2px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #000;
}

#section01 .inner .winterChuck .items li a p {
  position: absolute;
  top: 20px;
  right: 30px;
  line-height: 1.2;
  font-size: 1.4rem;
  font-weight: 700;
  z-index: 1;
}

#section01 .inner .winterChuck .items li .btnWish {
  position: absolute;
  top: 20px;
  left: 30px;
  cursor: pointer;
}

#section01 .inner .winterChuck .items li .btnWish:hover i {
  font-size: 3rem;
}

#section01 .inner .winterChuck .items li .btnWish:focus {
  outline: 1px solid #f00;
}

#section01 .inner .winterChuck .items li .btnWish i {
  font-size: 2.4rem;
  transition: 0.25s ease;
}

#section01 .inner .choose {
  margin: 50px 0;
  text-align: center;
}

#section01 .inner .choose .title {
  margin-bottom: 50px;
}

#section01 .inner .choose .title dt {
  margin-bottom: 15px;
  font-size: 3.4rem;
  font-weight: 700;
}

#section01 .inner .choose .title dd a {
  display: inline-block;
  font-size: 2rem;
  font-weight: 500;
}

#section01 .inner .choose .title dd a:hover {
  border-bottom: 1px solid #000;
  opacity: 0.7;
}

#section01 .inner .choose .chooseList {
  display: flex;
  justify-content: center;
}

#section01 .inner .choose .chooseList li {
  margin: 0 20px;
}

#section01 .inner .choose .chooseList li a {
  display: block;
}

#section01 .inner .choose .chooseList li a .imgBox img {
  width: 100%;
}

#section01 .inner .choose .chooseList li a h3 {
  font-size: 1.6rem;
}

#section01 .inner .choose .resizeBtnMore {
  display: none;
  margin: 20px 30px;
  padding: 15px 0;
  text-align: center;
  color: #fff;
  background-color: #000;
  transition: 0.25s ease;
}

#section01 .inner .choose .resizeBtnMore:hover {
  opacity: 0.7;
}

#section01 .inner .choose .resizeBtnMore:focus {
  border: 1px solid #f00;
}

#section01 .inner .choose .resizeBtnMore span {
  font-size: 1.6rem;
}

#section01 .inner .metallic {
  display: flex;
}

#section01 .inner .metallic .main {
  position: relative;
  width: 50%;
}

#section01 .inner .metallic .main .imgBox img {
  width: 100%;
  height: 900px;
  vertical-align: top;
}

#section01 .inner .metallic .main .infoBox {
  position: absolute;
  top: 30px;
  left: 20px;
  z-index: 2;
}

#section01 .inner .metallic .main .infoBox dt {
  line-height: 1.2;
  margin-bottom: 15px;
  font-size: 5rem;
  font-weight: 700;
}

#section01 .inner .metallic .main .infoBox dd {
  line-height: 1.2;
  font-size: 1.6rem;
}

#section01 .inner .metallic .main .infoBox dd.btnMore {
  margin-top: 10px;
}

#section01 .inner .metallic .main .infoBox dd.btnMore a {
  display: inline-block;
  padding: 15px 40px;
  font-size: 1.6rem;
  border: 1px solid #000;
  color: #fff;
  background-color: #000;
  transition: 0.25s ease;
}

#section01 .inner .metallic .main .infoBox dd.btnMore a:focus {
  outline: 1px solid #f00;
}

#section01 .inner .metallic .main .infoBox dd.btnMore a:hover {
  color: #000;
  background-color: #fff;
}

#section01 .inner .metallic .main .resizeBtnMore {
  display: none;
  margin: 20px 30px;
  padding: 15px 0;
  text-align: center;
  color: #fff;
  background-color: #000;
  transition: 0.25s ease;
}

#section01 .inner .metallic .main .resizeBtnMore:hover {
  opacity: 0.7;
}

#section01 .inner .metallic .main .resizeBtnMore:focus {
  border: 1px solid #f00;
}

#section01 .inner .metallic .main .resizeBtnMore span {
  font-size: 1.6rem;
}

#section01 .inner .metallic .items {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}

#section01 .inner .metallic .items li {
  position: relative;
  width: 50%;
  height: 450px;
}

#section01 .inner .metallic .items li:hover .imgBox img:last-child {
  opacity: 1;
}

#section01 .inner .metallic .items li a {
  display: block;
}

#section01 .inner .metallic .items li a:focus {
  border: 1px solid #f00;
  z-index: 9;
}

#section01 .inner .metallic .items li a .imgBox {
  position: relative;
}

#section01 .inner .metallic .items li a .imgBox img {
  position: absolute;
  width: 100%;
  height: 450px;
  transition: 0.25s  ease;
  vertical-align: top;
}

#section01 .inner .metallic .items li a .imgBox img:last-child {
  opacity: 0;
}

#section01 .inner .metallic .items li a .infoBox {
  position: absolute;
  bottom: 30px;
  left: 30px;
  line-height: 1.5;
  font-size: 1.4rem;
  font-weight: 300;
  z-index: 1;
}

#section01 .inner .metallic .items li a .infoBox dt:hover {
  position: relative;
}

#section01 .inner .metallic .items li a .infoBox dt:hover:after {
  content: '';
  position: absolute;
  bottom: 2px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #000;
}

#section01 .inner .metallic .items li a p {
  position: absolute;
  top: 20px;
  right: 30px;
  line-height: 1.2;
  font-size: 1.4rem;
  font-weight: 700;
  z-index: 1;
}

#section01 .inner .metallic .items li .btnWish {
  position: absolute;
  top: 20px;
  left: 30px;
  cursor: pointer;
}

#section01 .inner .metallic .items li .btnWish:hover i {
  font-size: 3rem;
}

#section01 .inner .metallic .items li .btnWish:focus {
  outline: 1px solid #f00;
}

#section01 .inner .metallic .items li .btnWish i {
  font-size: 2.4rem;
  transition: 0.25s ease;
}

#section01 .inner .cozyClub {
  display: flex;
}

#section01 .inner .cozyClub .main {
  position: relative;
  width: 50%;
}

#section01 .inner .cozyClub .main .imgBox img {
  width: 100%;
  height: 900px;
  vertical-align: top;
}

#section01 .inner .cozyClub .main .infoBox {
  position: absolute;
  top: 30px;
  right: 20px;
  text-align: right;
  color: #fff;
  z-index: 2;
}

#section01 .inner .cozyClub .main .infoBox dt {
  margin-bottom: 15px;
  font-size: 5rem;
  font-weight: 700;
}

#section01 .inner .cozyClub .main .infoBox dd {
  line-height: 1.2;
  font-size: 1.6rem;
}

#section01 .inner .cozyClub .main .infoBox dd.btnMore {
  margin-top: 10px;
}

#section01 .inner .cozyClub .main .infoBox dd.btnMore a {
  display: inline-block;
  padding: 15px 40px;
  font-size: 1.6rem;
  border: 1px solid #000;
  color: #000;
  background-color: #fff;
  transition: 0.25s ease;
}

#section01 .inner .cozyClub .main .infoBox dd.btnMore a:focus {
  outline: 1px solid #f00;
}

#section01 .inner .cozyClub .main .infoBox dd.btnMore a:hover {
  color: #fff;
  background-color: #000;
  border-color: #fff;
}

#section01 .inner .cozyClub .main .resizeBtnMore {
  display: none;
  margin: 20px 30px;
  padding: 15px 0;
  text-align: center;
  color: #fff;
  background-color: #000;
  transition: 0.25s ease;
}

#section01 .inner .cozyClub .main .resizeBtnMore:hover {
  opacity: 0.7;
}

#section01 .inner .cozyClub .main .resizeBtnMore:focus {
  border: 1px solid #f00;
}

#section01 .inner .cozyClub .main .resizeBtnMore span {
  font-size: 1.6rem;
}

#section01 .inner .cozyClub .items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
}

#section01 .inner .cozyClub .items li {
  position: relative;
  height: 450px;
}

#section01 .inner .cozyClub .items li:nth-child(1) {
  width: 100%;
}

#section01 .inner .cozyClub .items li:nth-child(1):hover a .hoverBox {
  background-color: rgba(0, 0, 0, 0.8);
}

#section01 .inner .cozyClub .items li:nth-child(1):hover a .hoverBox dt {
  opacity: 1;
}

#section01 .inner .cozyClub .items li:nth-child(n+2) {
  width: 50%;
}

#section01 .inner .cozyClub .items li:nth-child(n+2):hover a .imgBox img:last-child {
  opacity: 1;
}

#section01 .inner .cozyClub .items li:nth-child(n+2) a .imgBox img {
  position: absolute;
  top: 0;
  transition: 0.25s ease;
}

#section01 .inner .cozyClub .items li:nth-child(n+2) a .imgBox img:last-child {
  opacity: 0;
}

#section01 .inner .cozyClub .items li a {
  display: block;
}

#section01 .inner .cozyClub .items li a:focus {
  border: 1px solid #f00;
  z-index: 9;
}

#section01 .inner .cozyClub .items li a .imgBox {
  position: relative;
}

#section01 .inner .cozyClub .items li a .imgBox img {
  width: 100%;
  height: 450px;
  vertical-align: top;
}

#section01 .inner .cozyClub .items li a .hoverBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.25s ease-in;
}

#section01 .inner .cozyClub .items li a .hoverBox dt {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
  transition: 0.25s ease-in;
  opacity: 0;
}

#section01 .inner .cozyClub .items li a .hoverBox dd {
  padding: 20px 0 0 20px;
  font-size: 1.4rem;
  color: #fff;
}

#section01 .inner .cozyClub .items li a .infoBox {
  position: absolute;
  bottom: 30px;
  left: 30px;
  line-height: 1.5;
  font-size: 1.4rem;
  font-weight: 300;
  z-index: 1;
}

#section01 .inner .cozyClub .items li a .infoBox dt:hover {
  position: relative;
}

#section01 .inner .cozyClub .items li a .infoBox dt:hover:after {
  content: '';
  position: absolute;
  bottom: 2px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #000;
}

#section01 .inner .cozyClub .items li a p {
  position: absolute;
  top: 20px;
  right: 30px;
  line-height: 1.2;
  font-size: 1.4rem;
  font-weight: 700;
  z-index: 1;
}

#section01 .inner .cozyClub .items li .btnWish {
  position: absolute;
  top: 20px;
  left: 30px;
  cursor: pointer;
}

#section01 .inner .cozyClub .items li .btnWish:hover i {
  font-size: 3rem;
}

#section01 .inner .cozyClub .items li .btnWish:focus {
  outline: 1px solid #f00;
}

#section01 .inner .cozyClub .items li .btnWish i {
  font-size: 2.4rem;
  transition: 0.25s ease;
}

#section01 .inner .workWear {
  display: flex;
}

#section01 .inner .workWear .main {
  position: relative;
  width: 50%;
}

#section01 .inner .workWear .main .imgBox img {
  width: 100%;
  height: 900px;
  vertical-align: top;
}

#section01 .inner .workWear .main .infoBox {
  position: absolute;
  top: 30px;
  right: 20px;
  text-align: right;
  z-index: 2;
}

#section01 .inner .workWear .main .infoBox dt {
  margin-bottom: 15px;
  font-size: 5rem;
  font-weight: 700;
}

#section01 .inner .workWear .main .infoBox dd {
  line-height: 1.2;
  font-size: 1.6rem;
}

#section01 .inner .workWear .main .infoBox dd.btnMore {
  margin-top: 10px;
}

#section01 .inner .workWear .main .infoBox dd.btnMore a {
  display: inline-block;
  padding: 15px 40px;
  font-size: 1.6rem;
  border: 1px solid #000;
  color: #fff;
  background-color: #000;
  transition: 0.25s ease;
}

#section01 .inner .workWear .main .infoBox dd.btnMore a:focus {
  outline: 1px solid #f00;
}

#section01 .inner .workWear .main .infoBox dd.btnMore a:hover {
  color: #000;
  background-color: #fff;
}

#section01 .inner .workWear .main .resizeBtnMore {
  display: none;
  margin: 20px 30px;
  padding: 15px 0;
  text-align: center;
  color: #fff;
  background-color: #000;
  transition: 0.25s ease;
}

#section01 .inner .workWear .main .resizeBtnMore:hover {
  opacity: 0.7;
}

#section01 .inner .workWear .main .resizeBtnMore:focus {
  border: 1px solid #f00;
}

#section01 .inner .workWear .main .resizeBtnMore span {
  font-size: 1.6rem;
}

#section01 .inner .workWear .items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
}

#section01 .inner .workWear .items li {
  position: relative;
  height: 450px;
}

#section01 .inner .workWear .items li:nth-child(1) {
  width: 100%;
}

#section01 .inner .workWear .items li:nth-child(1):hover a .hoverBox {
  background-color: rgba(0, 0, 0, 0.8);
}

#section01 .inner .workWear .items li:nth-child(1):hover a .hoverBox dt {
  opacity: 1;
}

#section01 .inner .workWear .items li:nth-child(n+2) {
  width: 50%;
}

#section01 .inner .workWear .items li:nth-child(n+2):hover a .imgBox img:last-child {
  opacity: 1;
}

#section01 .inner .workWear .items li:nth-child(n+2) a .imgBox img {
  position: absolute;
  top: 0;
  transition: 0.25s ease;
}

#section01 .inner .workWear .items li:nth-child(n+2) a .imgBox img:last-child {
  opacity: 0;
}

#section01 .inner .workWear .items li a {
  display: block;
}

#section01 .inner .workWear .items li a:focus {
  border: 1px solid #f00;
  z-index: 9;
}

#section01 .inner .workWear .items li a .imgBox {
  position: relative;
}

#section01 .inner .workWear .items li a .imgBox img {
  width: 100%;
  height: 450px;
  vertical-align: top;
}

#section01 .inner .workWear .items li a .hoverBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.25s ease-in;
}

#section01 .inner .workWear .items li a .hoverBox dt {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
  transition: 0.25s ease-in;
  opacity: 0;
}

#section01 .inner .workWear .items li a .hoverBox dd {
  padding: 20px 0 0 20px;
  font-size: 1.4rem;
  color: #fff;
}

#section01 .inner .workWear .items li a .infoBox {
  position: absolute;
  bottom: 30px;
  left: 30px;
  line-height: 1.5;
  font-size: 1.4rem;
  font-weight: 300;
  z-index: 1;
}

#section01 .inner .workWear .items li a .infoBox dt:hover {
  position: relative;
}

#section01 .inner .workWear .items li a .infoBox dt:hover:after {
  content: '';
  position: absolute;
  bottom: 2px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #000;
}

#section01 .inner .workWear .items li a p {
  position: absolute;
  top: 20px;
  right: 30px;
  line-height: 1.2;
  font-size: 1.4rem;
  font-weight: 700;
  z-index: 1;
}

#section01 .inner .workWear .items li .btnWish {
  position: absolute;
  top: 20px;
  left: 30px;
  cursor: pointer;
}

#section01 .inner .workWear .items li .btnWish:hover i {
  font-size: 3rem;
}

#section01 .inner .workWear .items li .btnWish:focus {
  outline: 1px solid #f00;
}

#section01 .inner .workWear .items li .btnWish i {
  font-size: 2.4rem;
  transition: 0.25s ease;
}

#section01 .inner .collabo div.paria .pariaList {
  display: flex;
}

#section01 .inner .collabo div.paria .pariaList li {
  position: relative;
}

#section01 .inner .collabo div.paria .pariaList li:first-child .infoBox {
  position: absolute;
  top: 40%;
  left: 20px;
  transform: translateY(-50%);
  color: #fff;
  z-index: 2;
}

#section01 .inner .collabo div.paria .pariaList li:first-child .infoBox dt {
  line-height: 1.2;
  margin-bottom: 15px;
  font-size: 5rem;
  font-weight: 700;
}

#section01 .inner .collabo div.paria .pariaList li:first-child .infoBox dd {
  line-height: 1.2;
  font-size: 1.6rem;
}

#section01 .inner .collabo div.paria .pariaList li:first-child .infoBox dd:last-child a {
  display: inline-block;
  margin-top: 10px;
  padding: 15px 40px;
  color: #000;
  background-color: #fff;
  border: 1px solid #fff;
  transition: 0.25s ease;
}

#section01 .inner .collabo div.paria .pariaList li:first-child .infoBox dd:last-child a:hover {
  color: #fff;
  background-color: #000;
}

#section01 .inner .collabo div.paria .pariaList li:first-child .resizeBtnMore {
  display: none;
  margin: 20px 30px;
  padding: 15px 0;
  text-align: center;
  color: #fff;
  background-color: #000;
  transition: 0.25s ease;
}

#section01 .inner .collabo div.paria .pariaList li:first-child .resizeBtnMore:hover {
  opacity: 0.7;
}

#section01 .inner .collabo div.paria .pariaList li:first-child .resizeBtnMore:focus {
  border: 1px solid #f00;
}

#section01 .inner .collabo div.paria .pariaList li:first-child .resizeBtnMore span {
  font-size: 1.6rem;
}

#section01 .inner .collabo div.paria .pariaList li:last-child:hover a .hoverBox {
  background-color: rgba(0, 0, 0, 0.8);
}

#section01 .inner .collabo div.paria .pariaList li:last-child:hover a .hoverBox dt {
  opacity: 1;
}

#section01 .inner .collabo div.paria .pariaList li:last-child a {
  display: block;
}

#section01 .inner .collabo div.paria .pariaList li:last-child a .hoverBox {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  transition: 0.25s ease-in;
}

#section01 .inner .collabo div.paria .pariaList li:last-child a .hoverBox dt {
  position: absolute;
  bottom: 40px;
  width: 100%;
  line-height: 1.2;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  opacity: 0;
  transition: 0.25s ease-in;
  opacity: 0;
}

#section01 .inner .collabo div.paria .pariaList li:last-child a .hoverBox dd {
  padding: 20px 0 0 20px;
  font-size: 1.4rem;
}

#section01 .inner .collabo div.paria .pariaList li img {
  width: 100%;
  height: 900px;
  vertical-align: top;
}

#section01 .inner .collabo div.popTrading {
  display: flex;
}

#section01 .inner .collabo div.popTrading .main {
  position: relative;
  width: 50%;
}

#section01 .inner .collabo div.popTrading .main .imgBox img {
  width: 100%;
  height: 900px;
  vertical-align: top;
}

#section01 .inner .collabo div.popTrading .main .infoBox {
  position: absolute;
  top: 30px;
  left: 20px;
  color: #fff;
  z-index: 2;
}

#section01 .inner .collabo div.popTrading .main .infoBox dt {
  margin-bottom: 15px;
  font-size: 5rem;
  font-weight: 700;
}

#section01 .inner .collabo div.popTrading .main .infoBox dd {
  line-height: 1.2;
  font-size: 1.6rem;
}

#section01 .inner .collabo div.popTrading .main .infoBox dd.btnMore {
  margin-top: 10px;
}

#section01 .inner .collabo div.popTrading .main .infoBox dd.btnMore a {
  display: inline-block;
  padding: 15px 40px;
  font-size: 1.6rem;
  border: 1px solid #000;
  color: #000;
  background-color: #fff;
  transition: 0.25s ease;
}

#section01 .inner .collabo div.popTrading .main .infoBox dd.btnMore a:focus {
  outline: 1px solid #f00;
}

#section01 .inner .collabo div.popTrading .main .infoBox dd.btnMore a:hover {
  color: #fff;
  background-color: #000;
  border-color: #fff;
}

#section01 .inner .collabo div.popTrading .main .resizeBtnMore {
  display: none;
  margin: 20px 30px;
  padding: 15px 0;
  text-align: center;
  color: #fff;
  background-color: #000;
  transition: 0.25s ease;
}

#section01 .inner .collabo div.popTrading .main .resizeBtnMore:hover {
  opacity: 0.7;
}

#section01 .inner .collabo div.popTrading .main .resizeBtnMore:focus {
  border: 1px solid #f00;
}

#section01 .inner .collabo div.popTrading .main .resizeBtnMore span {
  font-size: 1.6rem;
}

#section01 .inner .collabo div.popTrading .items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
}

#section01 .inner .collabo div.popTrading .items li {
  position: relative;
  height: 450px;
}

#section01 .inner .collabo div.popTrading .items li:nth-child(1) {
  width: 100%;
}

#section01 .inner .collabo div.popTrading .items li:nth-child(1) .imgBox img {
  width: 100%;
  height: 450px;
  vertical-align: top;
}

#section01 .inner .collabo div.popTrading .items li:nth-child(n+2) {
  width: 50%;
}

#section01 .inner .collabo div.popTrading .items li:nth-child(n+2):hover a .imgBox img:last-child {
  opacity: 1;
}

#section01 .inner .collabo div.popTrading .items li:nth-child(n+2) a {
  display: block;
}

#section01 .inner .collabo div.popTrading .items li:nth-child(n+2) a:focus {
  border: 1px solid #f00;
  z-index: 9;
}

#section01 .inner .collabo div.popTrading .items li:nth-child(n+2) a .imgBox {
  position: relative;
}

#section01 .inner .collabo div.popTrading .items li:nth-child(n+2) a .imgBox img {
  position: absolute;
  width: 100%;
  height: 450px;
  vertical-align: top;
}

#section01 .inner .collabo div.popTrading .items li:nth-child(n+2) a .hoverBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.25s ease-in;
}

#section01 .inner .collabo div.popTrading .items li:nth-child(n+2) a .hoverBox dt {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
  transition: 0.25s ease-in;
  opacity: 0;
}

#section01 .inner .collabo div.popTrading .items li:nth-child(n+2) a .hoverBox dd {
  padding: 20px 0 0 20px;
  font-size: 1.4rem;
  color: #fff;
}

#section01 .inner .collabo div.popTrading .items li:nth-child(n+2) a .infoBox {
  position: absolute;
  bottom: 30px;
  left: 30px;
  line-height: 1.5;
  font-size: 1.4rem;
  font-weight: 300;
  z-index: 1;
}

#section01 .inner .collabo div.popTrading .items li:nth-child(n+2) a .infoBox dt:hover {
  position: relative;
}

#section01 .inner .collabo div.popTrading .items li:nth-child(n+2) a .infoBox dt:hover:after {
  content: '';
  position: absolute;
  bottom: 2px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #000;
}

#section01 .inner .collabo div.popTrading .items li:nth-child(n+2) a p {
  position: absolute;
  top: 20px;
  right: 30px;
  line-height: 1.2;
  font-size: 1.4rem;
  font-weight: 700;
  z-index: 1;
}

#section01 .inner .collabo div.popTrading .items li:nth-child(n+2) .btnWish {
  position: absolute;
  top: 20px;
  left: 30px;
  cursor: pointer;
}

#section01 .inner .collabo div.popTrading .items li:nth-child(n+2) .btnWish:hover i {
  font-size: 3rem;
}

#section01 .inner .collabo div.popTrading .items li:nth-child(n+2) .btnWish:focus {
  border: 1px solid #f00;
}

#section01 .inner .collabo div.popTrading .items li:nth-child(n+2) .btnWish i {
  font-size: 2.4rem;
  transition: 0.25s ease;
}

#section01 .inner .collabo div.popTrading .items li:nth-child(n+2) a .imgBox img {
  position: absolute;
  top: 0;
  transition: 0.25s ease;
}

#section01 .inner .collabo div.popTrading .items li:nth-child(n+2) a .imgBox img:last-child {
  opacity: 0;
}

#section01 .inner .outer {
  display: flex;
}

#section01 .inner .outer .main {
  position: relative;
  width: 50%;
}

#section01 .inner .outer .main .imgBox img {
  width: 100%;
  height: 900px;
  vertical-align: top;
}

#section01 .inner .outer .main .infoBox {
  position: absolute;
  bottom: 30px;
  left: 20px;
  color: #fff;
  z-index: 2;
}

#section01 .inner .outer .main .infoBox dt {
  margin-bottom: 15px;
  font-size: 5rem;
  font-weight: 700;
}

#section01 .inner .outer .main .infoBox dd {
  line-height: 1.2;
  font-size: 1.6rem;
}

#section01 .inner .outer .main .infoBox dd.btnMore {
  margin-top: 10px;
}

#section01 .inner .outer .main .infoBox dd.btnMore a {
  display: inline-block;
  padding: 15px 40px;
  font-size: 1.6rem;
  border: 1px solid #000;
  color: #000;
  background-color: #fff;
  border: 1px solid #fff;
  transition: 0.25s ease;
}

#section01 .inner .outer .main .infoBox dd.btnMore a:focus {
  outline: 1px solid #f00;
}

#section01 .inner .outer .main .infoBox dd.btnMore a:hover {
  color: #fff;
  background-color: #000;
}

#section01 .inner .outer .main .resizeBtnMore {
  display: none;
  margin: 20px 30px;
  padding: 15px 0;
  text-align: center;
  color: #fff;
  background-color: #000;
  transition: 0.25s ease;
}

#section01 .inner .outer .main .resizeBtnMore:hover {
  opacity: 0.7;
}

#section01 .inner .outer .main .resizeBtnMore:focus {
  border: 1px solid #f00;
}

#section01 .inner .outer .main .resizeBtnMore span {
  font-size: 1.6rem;
}

#section01 .inner .outer .items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
}

#section01 .inner .outer .items li {
  position: relative;
  width: 50%;
  height: 450px;
}

#section01 .inner .outer .items li:focus {
  border: 1px solid #f00;
}

#section01 .inner .outer .items li:nth-child(-n+2):hover a .imgBox img:last-child {
  opacity: 1;
}

#section01 .inner .outer .items li:nth-child(-n+2) a {
  display: block;
}

#section01 .inner .outer .items li:nth-child(-n+2) a .imgBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 450px;
  vertical-align: top;
  transition: 0.25s ease;
}

#section01 .inner .outer .items li:nth-child(-n+2) a .imgBox img:last-child {
  opacity: 0;
}

#section01 .inner .outer .items li:nth-child(-n+2) a .infoBox {
  position: absolute;
  bottom: 30px;
  left: 30px;
  line-height: 1.5;
  font-size: 1.4rem;
  font-weight: 300;
  z-index: 1;
}

#section01 .inner .outer .items li:nth-child(-n+2) a .infoBox dt:hover {
  position: relative;
}

#section01 .inner .outer .items li:nth-child(-n+2) a .infoBox dt:hover:after {
  content: '';
  position: absolute;
  bottom: 2px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #000;
}

#section01 .inner .outer .items li:nth-child(-n+2) a .infoBox dd:before {
  content: "109,000 원";
  margin-right: 10px;
  text-decoration: line-through;
  opacity: 0.7;
}

#section01 .inner .outer .items li:nth-child(-n+2) a .infoBox dd:after {
  content: "20%";
  display: inline-block;
  margin-left: 10px;
  color: #f00;
  font-weight: 700;
}

#section01 .inner .outer .items li:nth-child(-n+2) a p {
  position: absolute;
  top: 20px;
  right: 30px;
  line-height: 1.2;
  font-size: 1.4rem;
  font-weight: 700;
  z-index: 1;
}

#section01 .inner .outer .items li:nth-child(3) {
  width: 100%;
}

#section01 .inner .outer .items li:nth-child(3):hover a .hoverBox {
  background-color: rgba(0, 0, 0, 0.8);
}

#section01 .inner .outer .items li:nth-child(3):hover a .hoverBox dt {
  opacity: 1;
}

#section01 .inner .outer .items li:nth-child(3) a {
  display: block;
}

#section01 .inner .outer .items li:nth-child(3) a .imgBox img {
  position: static;
  width: 100%;
  height: 450px;
  vertical-align: top;
}

#section01 .inner .outer .items li:nth-child(3) a .hoverBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.25s ease-in;
}

#section01 .inner .outer .items li:nth-child(3) a .hoverBox dt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
  transition: 0.25s ease-in;
  opacity: 0;
}

#section01 .inner .outer .items li:nth-child(3) a .hoverBox dd {
  padding: 20px 0 0 20px;
  font-size: 1.4rem;
  font-weight: 300;
}

#section01 .inner .outer .items li .btnWish {
  position: absolute;
  top: 20px;
  left: 30px;
  cursor: pointer;
}

#section01 .inner .outer .items li .btnWish:hover i {
  font-size: 3rem;
}

#section01 .inner .outer .items li .btnWish:focus {
  border: 1px solid #f00;
}

#section01 .inner .outer .items li .btnWish i {
  font-size: 2.4rem;
  transition: 0.25s ease;
}

#section02 {
  position: relative;
  overflow: hidden;
}

#section02:before {
  content: "";
  position: absolute;
  bottom: 260px;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #dddcdc;
}

#section02:after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #dddcdc;
}

#section02 .inner {
  width: 1400px;
  margin: 0 auto;
}

#section02 .inner .community h2 {
  margin: 70px 0 40px;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}

#section02 .inner .community .communityList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#section02 .inner .community .communityList li {
  position: relative;
  width: 24.5%;
  height: 100%;
  margin-bottom: 10px;
}

#section02 .inner .community .communityList li:nth-child(n+10) {
  display: none;
}

#section02 .inner .community .communityList li:nth-child(9) {
  width: 100%;
  padding: 15px 0;
  font-size: 2.4rem;
  text-align: center;
}

#section02 .inner .community .communityList li:nth-child(9):focus {
  border: 2px solid #f00;
}

#section02 .inner .community .communityList li:nth-child(9):hover {
  opacity: 0.7;
}

#section02 .inner .community .communityList li a {
  display: block;
  height: 100%;
}

#section02 .inner .community .communityList li a .imgBox img {
  width: 100%;
  height: 360px;
  vertical-align: top;
}

#section02 .inner .community .communityList li a span {
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 1;
}

#section02 .inner .community .communityList li a span i {
  color: #fff;
  font-size: 2.4rem;
}

#section02 .inner .community .btnMore {
  position: relative;
  display: block;
  width: 100%;
  margin-top: 10px;
  padding: 15px 0;
  color: #fff;
  background-color: #000;
  cursor: pointer;
  transition: 0.25s ease;
}

#section02 .inner .community .btnMore:focus {
  border: 2px solid #f00;
}

#section02 .inner .community .btnMore:hover {
  opacity: 0.7;
}

#section02 .inner .community .btnMore span {
  font-size: 1.8rem;
  font-weight: 700;
}

#section02 .inner .marketing {
  position: relative;
  margin-top: 90px;
}

#section02 .inner .marketing .marketingList {
  display: flex;
}

#section02 .inner .marketing .marketingList li {
  width: 25%;
  height: 260px;
  padding-top: 30px;
  text-align: center;
  border-right: 1px solid #dddcdc;
}

#section02 .inner .marketing .marketingList li:last-child {
  border: none;
}

#section02 .inner .marketing .marketingList li .iconBox svg {
  width: 80px;
  height: 40px;
}

#section02 .inner .marketing .marketingList li .iconBox .iconLink {
  display: inline-block;
  margin: 11px 8px 0;
  border: none;
}

#section02 .inner .marketing .marketingList li .iconBox .iconLink i {
  font-size: 3.4rem;
}

#section02 .inner .marketing .marketingList li .infoBox dt {
  margin: 15px 0;
  font-size: 1.8rem;
  font-weight: 700;
}

#section02 .inner .marketing .marketingList li .infoBox dd {
  line-height: 1.3;
  font-size: 1.4rem;
  color: #757575;
}

#section02 .inner .marketing .marketingList li a {
  display: inline-block;
  margin-top: 20px;
  font-size: 1.4rem;
  font-weight: 300;
  border-bottom: 1px solid #757575;
}

#footer .footerList {
  display: flex;
  width: 1400px;
  margin: 0 auto;
}

#footer .footerList > li {
  width: 20%;
  padding: 30px 0 30px 30px;
  border-right: 1px solid #dddcdc;
}

#footer .footerList > li:first-child .footerDepth li {
  display: inline-block;
}

#footer .footerList > li:last-child {
  border: none;
}

#footer .footerList > li h3 {
  font-size: 1.6rem;
  font-weight: 700;
}

#footer .footerList > li .depthBtn {
  position: relative;
  display: none;
  width: 100%;
  padding: 10px;
  text-align: left;
  font-weight: 700;
  border-bottom: 1px solid  #dddcdc;
  cursor: pointer;
}

#footer .footerList > li .depthBtn.on:after {
  content: "+";
}

#footer .footerList > li .depthBtn:after {
  content: "-";
  position: absolute;
  display: inline-block;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 2.4rem;
}

#footer .footerList > li .depthBtn:focus {
  border: 1px solid #f00;
}

#footer .footerList > li .footerDepth {
  margin-top: 15px;
}

#footer .footerList > li .footerDepth li:last-child a i {
  border-left: none;
}

#footer .footerList > li .footerDepth li a {
  display: block;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.5;
}

#footer .footerList > li .footerDepth li a i {
  font-size: 2.6rem;
  padding: 10px;
  border: 1px solid #dddcdc;
}

#footer .address {
  padding: 50px;
  background-color: #000;
}

#footer .address .inner {
  display: flex;
  justify-content: space-between;
  width: 1400px;
  margin: 0 auto;
  color: #d9d9d9;
}

#footer .address .inner .dlBox {
  font-size: 1.25rem;
}

#footer .address .inner .dlBox dl {
  display: flex;
  line-height: 1.6;
}

#footer .address .inner .dlBox dl:nth-child(3) {
  display: block;
}

#footer .address .inner .dlBox dl:nth-child(3) dd {
  display: inline-block;
}

#footer .address .inner .dlBox dl dd a {
  margin-left: 5px;
}

#footer .address .inner .dlBox dl dd a:focus {
  outline: 1px solid #f00;
}

#footer .address .inner .dlBox dl dd a span {
  font-weight: 700;
  color: #fff;
}

#footer .address .inner .dlBox .resizeMenu {
  display: none;
  justify-content: center;
  color: #000;
  font-weight: 700;
}

#footer .address .inner .dlBox .resizeMenu li:last-child {
  position: relative;
  padding-left: 10px;
}

#footer .address .inner .dlBox .resizeMenu li:last-child:before {
  content: '';
  position: absolute;
  top: 51%;
  left: 5px;
  transform: translateY(-50%);
  display: block;
  width: 1px;
  height: 10px;
  background-color: #d9d9d9;
}

#footer .address .inner .dlBox .resizeMenu li a {
  display: block;
}

#footer .address .inner .dlBox .resizeMenu li a:focus {
  outline: 1px solid #f00;
}

#footer .address .inner .dlBox .allRight {
  margin-top: 30px;
}

#footer .address .inner .insurance {
  font-size: 1.2rem;
}

#footer .address .inner .insurance dt {
  line-height: 1.4;
  word-break: keep-all;
}

#footer .address .inner .insurance dd {
  margin-top: 20px;
}

#footer .address .inner .insurance dd a {
  font-weight: 700;
  color: #fff;
  border-bottom: 1px solid #fff;
}

#footer .address .inner .insurance dd a:focus {
  outline: 1px solid #f00;
}
